* {
  //   border: 0.5px solid red;
  box-sizing: border-box;
  padding: 0.5rem;
}

main {
  background-color: antiquewhite;
  .btns {
    background-color: aliceblue;
  }

  .panel {
    background-color: powderblue;
    .backend {
      border: 1px blue solid;
      .buttons {
        border: 1px greenyellow solid;
      }
      .checkboxes {
        border: 1px red solid;
      }
    }
  }
}
.checkbox {
  display: flex;
}

.posts {
  .post-info {
    border: 1px blue solid;
    display: flex;
  }
}
.post-view {
  .post-info { 
    border: 1px pink solid;
    display: flex;
  }
  .content {
    border: 1px red solid;
  }
  .img {
    display: flex;
    flex-wrap: wrap;
    img {
      display: inline-block;
      width: 100px;
      height: 100px;
      transition: all 0.5s;
      &:hover {
        transform: scale(5);
        cursor: pointer;
      }
    }
  }
}

.msgs-view {
  .msg-view {
    .msg-info {
      border: 1px black solid;
      display: flex;
    }
    .content {
      border: 1px black solid;
    }
    .img {
      display: flex;
      flex-wrap: wrap;
      img {
        display: inline-block;
        width: 100px;
        height: 100px;
        transition: all 0.5s;
        &:hover {
          transform: scale(5);
          cursor: pointer;
        }
      }
    }
  }
}
