@charset "UTF-8";
 table.visit_table {
    width: 850px;
    background-color: #ebebe8;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 100px;
    border-collapse :separate;
    border-spacing:0px 10px;
    }

    table.visit_table,th, td {
      padding: 5px;
      text-align: center;
    }
    
    tr:nth-child(even) {
      background: #CCC
    }
    tr:nth-child(even) {
      background-color: #FAFAFA;
    }
        
    
    tr {
      height: 50px;
      border: solid 2px blue;
      box-shadow: 2px 2px 4px #6e6969;
    }
        
    
    tr:hover {
      background-color: #E6FBFF;
    }
    
    /* table.visit_table,th{
      background-color: #FF8188;
    } */

    div.contact_status {
      border: 1px solid black;
      background-color: red;
      width: 30px;
      height: 30px;
      margin: auto;
    }
    
    div.visit_status {
      border: 1px solid black;
      background-color: red;
      width: 30px;
      height: 30px;
      margin: auto;
    }


    button.next_page,button.last_page{
      background-color: #3b7bf1bd;
      border-color: #3b7bf1bd;
      align-items: center;
      height: 30px;
      width: 80px;
      font-size: small;
      
    }


    .selcet_email{
      margin-left: 100px;
      border-radius: 8px;
      background-color: #e4ad4ebd;
      border-color: #755a2ce3;
      align-items: center;
      height: 30px; 
      width: 80px; 
      font-size: small;

    }

    #serch{
      border-radius: 8px;
      background-color: #3b7bf1bd;
      border-color: #3b7bf1bd;
      align-items: center;height: 30px; 
      width: 80px; 
      font-size: small;
    }

    .selcet_pk{
      border-radius: 20px;
      background-color: #a9fdf9;
    }