div.sam_div_form{
    border: 1px solid black;
    display: inline-block;
    width: 1000x;
    min-height: 600x;
    position: relative;
    margin-left: 150px;
    background: #de6d9878;
	  box-shadow: 2px 2px 4px #6e6969;
    margin-bottom: 20px;
    border-radius: 20px;
    
}

div.sam_div_emailtilte,#sam_div_emailfile{

    border: 1px solid black;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
    width: 200px;
    background-color: white;
    display : inline-block;
    box-shadow: 2px 2px 4px #6e6969;

}

div.sam_div_emailtilte{
  border-radius: 20px;
}

div.sam_div_emailcategory{
    border: 1px solid black;
    margin-top: 50px;
    margin-left: 295px;
    margin-bottom: 20px;
    width: 200px;
    background-color: white;
    display : inline-block;
    box-shadow: 2px 2px 4px #6e6969;
    border-radius: 20px;
}

div.sam_div_adminId{
    border: 1px solid black;
    margin-top: 50px;
    margin-left: 295px;
    margin-bottom: 20px;
    width: 200px;
    background-color: white;
    display : inline-block;
    box-shadow: 2px 2px 4px #6e6969;
    border-radius: 20px;
}

#sam_label_emailcategory,#sam_label_emailtitle{
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 20px;
}
#sam_label_emailcontent{
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 20px;
    
}

#sam_div_emailcontent{
    border: 1px solid black;
    width: 700px;
    min-height: 200px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: white;
    box-shadow: 2px 2px 4px #6e6969;
    border-radius: 20px;

}

#sam_input_emailcontent{
    border: 1px solid black;
    width: 650px;
    min-height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;   
    margin-left: 22px;  
    background-color: #80808042;     
    border-radius: 20px;
}

#sam_btn_submit{
    margin-left: 300px;
}

#sam_btn_submit{
    background-color: aquamarine;
}
#sam_btn_cancle{
    background-color: indianred;
}
#sam_input_emailcategory,#sam_input_emailtitle,.sam_adminId_anwser{
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: #80808042;
    border-radius: 20px;
    
}
#sam_btn_cancle{
    margin-left: 20px;
    width: 50px;
    height: 25px;
}
#sam_btn_submit{
    width: 50px;
    height: 25px;
}

#preview{
    margin-top: 20px;
    margin-left: 50px;
    display: inline-block;
    width: 350px;
    min-height: 100px;
    
  }
  #preview span.text{
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    color: rgb(19, 18, 18);
  }
  #preview img.preview_img{
    width: 100%;
    display: inline-block;
  }
  
  #preview_back{
    
    margin-top: 20px;
    margin-left: 50px;
    display: inline-block;
    width: 350px;
    min-height: 100px;
    
  }
  #preview_back span.text{
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    color: rgb(19, 18, 18);
  }
  #preview_back img.preview_img_answer{
    width: 100%;
    display: inline-block;
  }
  
  .my_bton{
    margin-left: 280px;
    margin-bottom: 20px;
  }
  
  
  
  #sam_input_emailcategory_anwser,#sam_input_emailtitle_anwser,.sam_div_adminId{
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: #80808042;
}


#sam_input_emailcontent_anwser{
    border: 1px solid black;
    width: 650px;
    min-height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;   
    margin-left: 22px;  
    background-color: #80808042;     
    border-radius: 20px;
}
tr:nth-child(even) {
    background: #CCC
  }
  tr:nth-child(odd) {
    background-color: #FAFAFA;
  }
      
  
  tr, td {
    border: 1px solid #666;
  }
      
  
  td:hover {
    background-color: #E6FBFF;
  }
  
  table.visit_table,th{
    background-color: #FF8188;
  }


  button#sam_btn_submit{
    background-color: #3bf19fd1;
    border-color: #3bf19fd1;
    align-items: center;
    height: 30px;
    width: 80px;
    font-size: small;

}

button#sam_btn_cancle{
  background-color: #db3232d1;
  border-color: #db3232d1;
  align-items: center;
  height: 30px;
  width: 80px;
  font-size: small;
  margin-left: 30px;
  color: rgb(255, 255, 255);

}



* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.modalimg {
  z-index: 10;		
  display: none;
  width: 100%;
  height: 100vh;
  background: #6a6a6aa6;	
  position: fixed;	
  margin-top: -180px;	
}

.dialogimg {		
  position: absolute;
  z-index: 11;
  /* 將對話框水平置中。 */
  left: 50%;	
  transform: translate(-50%, 0%);			
  top: -10px; /* 設定對話框的起始位置。 對話框滑動的距離與時間會影響淡入效果，可以自行嘗試調整。 */
  opacity: 0; /* 將對話框設為透明。 */
  display: none; /* 隱藏對話框。 */
  width: 30%; /* 對話框寬度。 */
  background: white;
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  line-height: 1.7em;
  position: fixed;
}

.title {
  text-align: center;
  padding: 8px;
  font-size: 20px;
  background: #1f7038ad;    		
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  border: 1px #f2e6e6 solid;
  box-shadow: 0px 2px 8px 1px rgb(0 0 0 / 15%);
}

.contentimg {
  padding: 4px 8px;
}

.buttons {
  /* 加上這兩個CSS，可以讓button移動到對話框下方。 */
  /*position: absolute;
  right: 0px;
  */
  text-align: right;
  text-align: center;
  padding: 8px 14px;
}

.okBtn {
  display: inline-block;
  background: #092b68b3;
  color: #ffffffeb;		    
  border-radius: 8px;
  border: 1px solid white;
  padding: 4px 8px;
  cursor: pointer;
}

.cancelBtn {
  display: inline-block;
  background: #e90202ad;
  color: #ffffffeb;		    
  border-radius: 8px;
  border: 1px solid white;
  padding: 4px 8px;
  cursor: pointer;  
}
/*-- //input-effect --*/



/*--/responsive--*/

