* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

#navbar {
    width: 18%;
    height: 100vh;
    position: fixed;
    box-shadow: 3px 0px 2px rgb(41, 26, 26, 0.1);
    z-index: 1;
}

#header {
    height: 60px;
    position: fixed;
    width: 82%;
    margin-left: 18%;
}

#header>p {
    margin-left: 45%;
    line-height: 60px;
}

#main_div {
    width: 82%;
    margin-left: 18%;
}

.t2 {
    margin-left: 600px;
}

#blank_area {
    height: 60px;
}

#title {
    padding: 10px 30px;
}

/* 表格 */
table {
    width: 950px;
    border: 1px solid black;
    margin-left: 175px;

}

table th,
table td {
 margin-left: 0;
    border: 1px solid black;
    padding: 20px;
    margin-right: 450px;
/*     text-align: center; */
}

/* 頁數 */
* {
    box-sizing: border-box;
}

/* 數字 */
div.pagination_block {
    /* border: 1px solid black; */
    display: inline-block;
    margin-left: 450px;

}

div.pagination_block ul.pagination {
    list-style: none;
    margin: 0;
    padding: 0;
    /* border: 1px solid green; */
    font-size: 0;
}

div.pagination_block ul.pagination>li {
    /* border: 1px solid red; */
    display: inline-block;
}

div.pagination_block ul.pagination>li>a {
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    padding: 5px 10px;
    /* text-aglign:center; */
}

div.pagination_block ul.pagination>li:first-child>a {
    /* border-left: 1px solid black; */
    border-radius: 5px 0 0 5px;
}

div.pagination_block ul.pagination>li:first-child>a {
    border-radius: 0 5px 5px 0;
}

div.pagination_block ul.pagination>li>a:hover,
iv.pagination_block ul.pagination>li>a.-on {
    background-color: #e9ecef;
    color: #0056b3;
}
table {
    width: 1070px;
    border: 1px solid black;
    margin-left: 90px;

}

/* 時間 */
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: 0.4rem 0;
}