* {
    /* font-family: 'Noto Sans TC', sans-serif; */
    font-family: Microsoft JhengHei;
}

body {
    background-color: #ebebe8;
}

.c1 {
    background-color: #FDFDFD;
}

.c2 {
    background-color: #EBEBE8;
}

.c3 {
    background-color: #FF8188;
}

.c4 {
    background-color: #C68774;
}

.c5 {
    background-color: #8B4513;
}

.f1 {
    color: #333333;
}

.f2 {
    color: #C68774;
}

.f3 {
    color: #777777;
}

.f4 {
    color: #FF8188;
}

.f5 {
    color: #4A4A4A;
}

.f6 {
    color: #FFFFFF;
}


.t1 {
    color: #333333;
    font-size: 28px;
}

.t2 {
    color: #C68774;
    font-size: 22px;
    font-weight: bold;
}

.t3 {
    color: #777777;
    font-size: 16px;
}

.t4 {
    color: #C68774;
    font-size: 13px;
}

.w1 {
    color: #FF5B51;
}

.btn:hover {
    color: #8B4513;
}

.btn {
    background-color: #ff8188;
    color: white;
    float: right;
    margin-left: 10px;
}

.bkbtn {
    background-color: #FDFDFD;
    color: #333333;
}

div.footer {
    /* position: absolute; */
    /* 或 fixed */
    bottom: 0;
    width: 100%;
    /* background-color: gray; */
    /* color: white; */
    text-align: center;
    /* padding-top: 20px; */
}

div.meal {
    /* position: absolute; */
    /* width: 100%; */
    /* border: 1px solid green; */
    /* text-align: center; */
    margin-top: 30px;
}

.meal_block {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 30px; */

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.meal_block_1 {
    width: 300px;
    border: 1px solid green;
    list-style: none
}

.meal_pic {
    max-width: 100%;
    border: 1px solid red;
}

.meal_info {
    border: 1px solid blue;
}

li.meal_block_1 {
    flex-basis: calc(25% - 10px);
    margin-bottom: 20px;
}

li:nth-child(4n) {
    margin-right: 0;
}

div#meal_name {
    font-size: 24px;
    font-weight: bold;
    float: left;
}




/* ================================ */