*{
    box-sizing: border-box;
}
.room_type_img{width: 40%;margin: 0 auto;}
.title , .room_type_para{margin-left: 20%; margin-bottom: 1%;margin-top: 1%;}
.room_type_btn{margin-left: 70%; margin-bottom: 1%;}